.itemcontainer {
  max-height: 80vh;
  overflow-y: auto;
  min-width: 320px;
}

.itemFlex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.itemFlex h3 {
  text-align: center;
  width: 6rem;
}

.itemcontainer button {
  margin-top: 1rem;
}
