.confirmationWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.confirmationWrap i {
  color: red;
  font-size: 4rem;
  margin: 2rem 0;
}

.confirmationWrap p {
  text-align: center;
  margin-bottom: 1rem;
}

.infoMd {
  font-size: 2rem;
  font-weight: 700;
  padding: 0 2rem;
}

.infoWrapper {
	display: flex;
	justify-content: center;
}

.infoBd {
	max-width: 600px;

}

.confirmationWrap button {
  margin-top: 1rem;
}
