.summaryContainer {
	background-color: antiquewhite;
	border-radius: 8px;
	overflow-y: auto;
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
}

.summaryContainer h2 {
	padding: 0 1rem;
	border-bottom: 1px solid black;
}

