.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  color: pink;
  padding: 2rem;
  width: 100%;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.navbar button {
  color: pink;
  text-transform: uppercase;
  transition: 0.4s;
}

.navbar button:hover {
  color: red;
  cursor: pointer;
}

.ulNavbar {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.greeting {
  color: red;
  font-size: 1.5rem;
}

.cartFont {
  margin-left: 5px;
  position: relative;
  font-size: 1rem;
}

.cartCount {
  position: absolute;
  bottom: 8px;
  padding: 2px 4.5px;
  left: 9px;
  color: purple;
  border-radius: 50%;
  background: white;
}
