.itemFlex {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem;
	border-bottom: 1px dashed black;
}

.itemFlex div {
	text-align: center;
	width: 6rem;
}

.itemImage {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
}

.itemImage img {
	width: 50%;
	margin-bottom: 8px;
}

.deleteBtn {
 position: absolute;
 right: 0;
 color: red;
 border-radius: 50%;
 transition: .4s;
}

.deleteBtn:hover {
	background-color: red;
	color: white;
}