.itemFlex {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 1rem;
	border-bottom: 1px dashed black;
}

.itemFlex div {
	text-align: center;
	width: 6rem;
}

.itemImage {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
}

.itemImage img {
	width: 50%;
	margin-bottom: 8px;
}